
.movie-theater{
    display: flex;
    justify-content: center;
    justify-items: center;
      gap: 20px;
}
.theater:hover{
    cursor: pointer;
    
}
.theater{
  
    padding-bottom: 10px;
}

.ticket-book-heading{
    text-align: center;
    margin-top: 55px;
}